# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Testes
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal
/src/generated/prisma
